* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.imperia {
    width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    // border: 1px solid #000;
}
.imperia-400{
    display: none;
}
@media screen and (max-width: 400px) {
    .imperia{
        display: none;
    }
    .imperia-400{
        display: block;
        width: 100%;
        border: 1px solid;
    }
}
