// Наши преимущества
.main {
  &__advantage {
    margin-top: 63px;
    background: var(--tecxt-white, #fff);
    h3 {
      font-size: 34px;
      text-align: center;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    margin-top: 24px;

    div {
      img {
        margin-bottom: 30px;
      }
      padding: 0 150px;
      text-align: center;
    }
  }
}
@media screen and (max-width: 400px) {
  .imperia {
    .main {
      &__advantage {
        .iconlike {
          display: none;
        }
        .iconstars {
          display: none;
        }
        .icontruck {
          p {
            font-size: 20px;
          }
          width: 100%;
          img {
            width: 100%;
            height: 40px;
          }
        }
        h3 {
          font-size: 25px;
        }
        border: 1px solid #000;
      }
    }
  }
}
