// Лучшие товары

:root{
    // --border: 1px solid;
}

.bestitems{
    width: 100%;
    border: var(--border);
    h1{
        text-align: center;
        margin-bottom: 40px;
    }
    &-container{
        width: 92%;
        border: var(--border);
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        &-items{
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 0px 10px;
            background: white;
            h4{
                padding-top: 10px;
                margin-top: -5px;
            }
            P{
                font-size: 12px;
                margin-top: 10px;
                margin-bottom: 5px;
            }
            div{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            button{
                width: 100%;
                margin-top: 10px;
                height: 35px;
                background-color: #FFC000;
                border: 0px;
                border-radius: 5px;
                margin-bottom: 10px;
            }
        }
    }
}


@media screen and (max-width: 400px) {
    .best-items{
        width: 100%;
        border: var(--border);
        display: flex;
        justify-content: center;
        &_container{
            width: 88%;
            border: var(--border);
            &-sale{
                width: 100%;
                display: flex;
                border: var(--border);
                img{
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    background: white;
                }
                &-items{
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    width: 90%;
                    padding: 10px 5px;
                    background-color: #fff;
                    margin-top: -10px;
                    margin-bottom: 10px;
                    p{
                        font-size: 15px;
                        margin-top: 10px;
                        margin-bottom: 5px;     
                    }
                }
            }
        .carousel{
            text-align: center;
            margin-bottom: 50px;
        }
        }
        
    }
}