
:root{
    // --border: 1px solid;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.footer{
    width: 100%;
    border: var(--border);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    &-container{
        width: 88%;
        border: var(--border);
        display: flex;
        justify-content: space-between;
        &-first-items{
            line-height: 20px !important;
            p{
                margin-top: 20px;
                line-height: 25px;
            }
            img{
                margin-top: 20px;
                width: 100px;
            }
        }
        ul{
            width: 100%;
            display: flex;
            justify-content: space-between ;
            
            li{
                line-height: 35px;
            }
        }
    }
}









@media screen and (max-width: 400px) {
    .footer{
        width: 100%;
        border: var(--border);
        display: block;
        &-container{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 35px;
            &-item{
                width: 88%;
                border: var(--border);
                p{
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            ul{
                margin-top: 30px;
                width: 88%;
                border: var(--border);
                li{
                    p{
                    line-height: 34px;
                    font-size: 20px;
                    font-weight: 700;
                    }
                }
            }
        }
        &-container2{
            margin-top: 40px;
            border: var(--border);
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
            &-items{
                width: 88%;
                border: var(--border);
                div{
                    display: flex;
                    gap: 10px;
                    p{
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 400;
                    }
                    iconify-icon{
                        color: #0045FF;
                    }
                }
                &-sescond-item{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    margin-top: 20px;
                    iconify-icon{
                        color: #0045FF;
                    }
                }
            }
        }
    }
}